/* Copyright 2010 Palm, Inc. All rights reserved. */
body {
    background-color: #e5e7ec !important;   /* Lazy hammer */
}

.dock-entry {
    position: relative;
}

.dock-header {
    padding-top: 40px;
    padding-left: 15px;
    margin-bottom: 33px;

    background-color: #39589c;
    color: #dfe4ef;
}

.dock-user {
    font-size: 32px;
}
.post-time {
    position: absolute;
    bottom: -30px;
    right: 13px;

    color: #96979b;
}

.dock-content {
    overflow: auto;
    padding: 0px 30px;
}

.dock-comment-like {
    text-align: center;
    color: #707070;
}
.dock-likes {
    display: inline-block;
    margin-right: 10px;
}
.dock-comments {
    display: inline-block;
}

.cover-image {
    float: left;

    margin-right: 10px;

    width: 50px;
    height: 50px;

    border-radius: 4px;
}

/* Content: Stream */
.dock-message {
    padding-bottom: 15px;
}

/* Content: Image */
.content-image-container {
    text-align: center;
}
.content-image {
    display: inline-block;
    border-radius: 4px;
}
