<!-- Copyright 2010 Palm, Inc. All rights reserved. -->
<div class="dock-entry">
    <div class="dock-header">
        <div class="flyin-element #{flyState}">
            <img class="cover-image" src="#{pic_square}" />
            <div class="dock-user truncating-text">#{name}</div>
            <span class="post-time" x-mojo-loc="">Today</span>
        </div>
    </div>
    <div class="dock-content flyin-element #{flyState}">#{-content}</div>

    <div class="dock-comment-like flyin-element #{flyState}">
        <span class="dock-likes" x-mojo-loc="">X likes</span>
        <span class="dock-comments" x-mojo-loc="">X comments</span>
    </div>
</div>
