<!-- Copyright 2010 Palm, Inc. All rights reserved. -->
<div class="palm-page-header" x-mojo-loc="">Card Groups</div>
<div class="unique-id"></div>
<p x-mojo-loc="">
    This scene demonstrates various ways to push new scenes and stages. Pushed scenes should have unique values above and cloned scenes
    should have the same value above.
</p>
<div id="push-scene" x-mojo-element="Button"></div>
<div id="clone-scene" x-mojo-element="Button"></div>

<hr>

<div id="new-data" x-mojo-element="Button"></div>
<p x-mojo-loc="">
    This button will update the random number for this scene. Any scenes clones from this scene (or scenes that this clones)
    will update to the new value as well.
</p>

<hr>

<p x-mojo-loc="" x-card-group-photo-target="images/webOSdev.png">
    Text with an attribute handler. Tap and Mod+Tap will create a new scene or stage respectively.
</p>
