<!-- Copyright 2010 Palm, Inc. All rights reserved. -->
<div class="palm-page-header" x-mojo-loc="">Card Groups</div>
<div class="unique-id"></div>
<p x-mojo-loc="">
    This scene demonstrates various ways to push new scenes and stages. Pushed scenes should have unique values above and cloned scenes
    should have the same value above.
</p>
<div id="push-scene" x-mojo-element="Button"></div>
<div id="clone-scene" x-mojo-element="Button"></div>

<hr>

<div id="new-data" x-mojo-element="Button"></div>
